*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnColor{
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: 1px solid #f2f2f2;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    transition: .3s;
    display: inline-block;
}
.btnColor:hover{
    background-color: rgba(0, 0, 0);
}